<div id="about_container">
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			<h1><%= @page.header %></h1>
			<p><%= @page.content %></p>
		</div>
		<div class="col-xs-12 col-lg-4">
			<h1 style="margin-bottom:44px">&nbsp;</h1>
			<a href="https://www.instagram.com/katelinhull/?hl=en">
				<img class="img main_image img-fluid" src="/images/misc/instagram.png" />
			</a>
		</div>
	</div>
</div>
