<h1>Pieces</h1>
<table>
	<tr>
		<td>Title</td>
		<td>Subtitle</td>
		<td>Actions</td>
		<td>Visibility</td>
	</tr>
<% @pieces.each do |p| %>
	<tr>
		<td><%= p.title %></td>
		<td><%= p.subtitle %></td>
		<td><a href="/admin/edit/<%= p.id %>">edit</a></td>
		<td><%= p.visible == 1 ? 'visible' : 'invisible' %></td>
	</tr>
<% end %>
</table>

