<form action="/admin/update" method="post">
	<label>Title</label>
	<br />
	<input name="title" value="<%= @piece.title %>" />
	<br />
	<label>Subtitle</label>
	<br />
	<input name="subtitle" value="<%= @piece.subtitle %>" />
	<br />
	<label>Message</label>
	<br />
	<textarea name="description"><%= @piece.description %></textarea>
	<input type="hidden" name="id" value="<%= @piece.id %>" />
	<br />
	<button type="submit">Submit</button>
</form>

