<form action="#" method="post">
	<label>Name</label>
	<br />
	<input name="name" />
	<br />
	<label>Email</label>
	<br />
	<input name="email" />
	<br />
	<label>Message</label>
	<br />
	<textarea name="message"></textarea>
	<br />
	<button type="submit">Submit</button>
</form>

