html {
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	background: #fff;
	font-family: 'Cardo', serif;
}

hr {
	margin-bottom: 6%;
}

.container {
}

nav.navbar {
	margin-top: 3%;
	padding: 20px 0px !important;
	background-image: none !important;
	background-color: #fff !important;
	font-size: 18px;
	font-family: 'IM Fell English SC', serif;
}

 /* INDEX */
div#headline {
	text-align: center;
	margin: 6% auto;
	width: 70%;
}

div#main_container {
}

.img_title {
	font-weight: 700;
	margin-top: 24px;
	font-size: 28px;
	font-family: 'Nanum Myeongjo', serif;
}

.img_subtitle {
	font-style: italic;
	font-size: 22px;
}

/* IMAGES ON INDEX */
img.main_image {
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

@media (min-width: 1200px) {
	div#main_container div.row:nth-child(odd) img {
		height: 450px;
		min-width: 100%;
	}
	div#main_container div.row:nth-child(even) img {
		height: 348px;
		min-width: 100%;
	}
}
@media (max-width: 1199px) {
	div#main_container div.row:nth-child(odd) img {
		height: 364px;
	}
	div#main_container div.row:nth-child(even) img {
		height: 287px;
	}
}

@media (min-width: 992px) {
	div#main_container div.row:nth-child(odd) div.image_container:first-child {
		padding-right: 18px;
	}
	div#main_container div.row:nth-child(odd) div.image_container:nth-child(2) {
		padding-left: 18px;
	}
	div#main_container div.row:nth-child(even) div.image_container:first-child {
		padding-right: 18px;
	}
	div#main_container div.row:nth-child(even) div.image_container:nth-child(2) {
		padding: 0px 18px;
	}
	div#main_container div.row:nth-child(even) div.image_container:nth-child(3) {
		padding-left: 18px;
	}
	div#main_container div.row {
		padding: 18px 18px;
	}
}

div.image_container {
	overflow: hidden;
	padding: 0px;
}

@media (max-width: 991px) {
	div.image_container {
		margin: auto;
		text-align: center;
	}	
	div.image_container img {
/*
		min-width: 100%;
*/
	}
}


/* PIECES */
div#piece_container {
}

div#sidebar h1 {
	font-weight: 700;
	font-size: 48px;
	font-family: 'Nanum Myeongjo', serif;
}
div#sidebar h4 {
	font-size: 22px;
	font-style: italic;
}
div#sidebar p {
	font-size: 18px;
	margin: 60px 0;
}

div#gallery	div.image {
	margin: auto;
}

div#gallery	div.image img {
	width: 100%;
}

/* MISC */
input, textarea {
	min-width: 400px;
}
textarea {
	min-height: 300px;
}
