html {
	overflow-y: scroll;
	body {
		margin: 0 auto;
		background: #fff;
		font-family: 'Cardo', serif;
		color: #464646;
	}
	hr {
		margin-bottom: 6%;
	}
	div#wrapper {
		padding-top: 120px;
		padding-bottom: 75px;
		min-height: 90vh;
	}
}

nav.navbar {
	border-bottom: 1px solid #ede2ea;
	margin-top: 18px;
	max-width: 1110px;
	margin: auto;
	padding: 38px 0px;
	background-image: none !important;
	background-color: #fff !important;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: 'IM Fell English SC', serif;
}

.navbar-brand {
	font-size: 16px;
	letter-spacing: 2px;
	font-family: 'IM Fell English SC', serif;
}

a.nav-link:hover, li.nav-item.active {
	color:#c0a4b7 !important;
}

@media (max-width: 1199px) {
	nav.navbar {
		padding: 18px 3%;
	}
}

@media (max-width: 991px) {
	nav.navbar {
		li.nav-item {
			text-align: right;
		}
		li.nav-item:first-child {
			padding-top: 8px;
		}
	}
}

@media (max-width: 991px) {
	#footer {
		p.footer_text {
			text-align: center;
		}
		#social_icons {
			text-align: center;
		}
	}
}
@media (min-width: 992px) {
	#footer {
		#social_icons {
			text-align: right;
		}
	}
}
#footer {
	border-top: 1px solid #ede2ea;
	margin-bottom: 18px;
	max-width: 1110px;
	margin: auto;
	padding: 42px 0px;
	
	#social_icons {
	}

	p.footer_text {
		margin: 0 auto;
		font-family: 'IM Fell English SC', serif;
		font-size: 16px;
		letter-spacing: 2px;
	}

	img {
		margin-left: 10px;
	}
}

 /* INDEX */
div#headline h1 {
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 50px;
	margin: 6% auto;
	width: 70%;
	font-family: 'Nanum Myeongjo', serif;
}

/* IMAGES ON INDEX */
div#main_container {
	.img_title {
		font-weight: 700;
		margin-top: 24px;
		margin-bottom: 0px;
		font-size: 14px;
		letter-spacing: 1px;
		font-weight: bolder;
		font-family: 'Cardo', serif;
	}
	.img_subtitle {
		font-style: italic;
		font-size: 14px;
		margin-top: 4px;
		letter-spacing: 1px;
		margin-bottom: 0px;;
	}	
	img.main_image {
		max-height: 100%;
		max-width: 100%;
		margin: auto;
	}
	div.image_container {
		overflow: hidden;
		padding: 0px;
	}
}

@media (max-width: 991px) {
	img.main_image {
		margin-top: 36px !important;
	}
}

@media (min-width: 1200px) {
	div#main_container div.row:nth-child(odd) img {
		height: 450px;
		min-width: 100%;
	}
	div#main_container div.row:nth-child(even) img {
		height: 344px;
		min-width: 100%;
	}
}
@media (max-width: 1199px) {
	div#main_container div.row:nth-child(odd) img {
		height: 364px;
	}
	div#main_container div.row:nth-child(even) img {
		height: 287px;
	}
}
@media (max-width: 576px) {
	div#main_container div.row:nth-child(odd) img {
		max-height: 300px;
	}
}
@media (max-width: 500px) {
	div#main_container div.row:nth-child(odd) img {
		max-height: 240px;
	}
}
@media (min-width: 992px) {
	div#main_container div.row:nth-child(1) div.image_container:first-child,
	div#main_container div.row:nth-child(5) div.image_container:first-child {
		padding-right: 24px;
	}
	div#main_container div.row:nth-child(1) div.image_container:nth-child(2),
	div#main_container div.row:nth-child(5) div.image_container:nth-child(2) {
		padding-left: 12px;
	}
	div#main_container div.row:nth-child(3) div.image_container:first-child {
		padding-right: 12px;
	}
	div#main_container div.row:nth-child(3) div.image_container:nth-child(2) {
		padding-left: 24px;
	}
	div#main_container div.row:nth-child(even) div.image_container:first-child {
		padding-right: 24px;
	}
	div#main_container div.row:nth-child(even) div.image_container:nth-child(2) {
		padding: 0px 12px;
	}
	div#main_container div.row:nth-child(even) div.image_container:nth-child(3) {
		padding-left: 24px;
	}
	div#main_container div.row {
		padding: 18px 18px;
	}
}
@media (max-width: 991px) {
	div.image_container {
		margin: auto;
		text-align: center;
	}	
/* 
	div.image_container img {
		min-width: 100%;
	}
*/
}


/* PIECES */
/*
@media (min-width: 992px) {
	div#sidebar.fixed {
		position: fixed;
		max-width: 15%;
	}
}
@media (min-width: 1440px) {
	div#sidebar.fixed {
		max-width: 15%;
		position: fixed;
	}
}
@media (min-width: 1740px) {
	div#sidebar.fixed {
		max-width: 13%;
		position: fixed;
	}
}
*/

div#piece_container {
	padding-top: 6%;
	div#sidebar {
		h4 {
			font-family: 'Cardo', serif;
			font-size: 14px;
			letter-spacing: 1px;
			margin-top: 15px;
			font-style: italic;
		}
		p {
			font-family: 'Cardo', serif;
			font-size: 14px;
			letter-spacing: .5px;
			line-height: 2em;
			margin: 36px 0;
		}
	}

	div#gallery	div.image {
		margin: 0 auto 36px auto;
	}
	div#gallery	div.image img {
		width: 100%;
	}
}

@media (min-width: 992px) {
	div#gallery	div.image {
		margin: 0 auto 36px 24px;
	}
}

/* ABOUT */



/* FORM */

#form_container{
	font-family: 'Cardo', serif;
	font-size: 14px;
	letter-spacing: .5px;
	margin: 36px 0;	
}

.form-control {
	background-color: #ede2ea;
	border: 0;
	border-radius: 0%;
}

button {
    background-color: #464646;
	border: none;
	font-family: 'IM Fell English SC', serif;
	letter-spacing: 2px;
	font-size: 16px;
    color: white;
    padding: 7px 16px;
    text-decoration: none;
    cursor: pointer;
}

/* MISC */
h1 {
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 2px;
	line-height: 45px;
	font-family: 'Nanum Myeongjo', serif;
}

p {
	font-family: 'Cardo', serif;
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 2em;
	margin: 36px 0;
}

div#form_container {
	min-width: 100%;
	form {
		margin: auto;
	}
}
@media (min-width: 992px) {
	form {
		min-width: 100%;
	}
	input, textarea {
		min-width: 400px;
	}
	textarea {
		min-height: 150px;
	}
}

table {
	margin: auto;
	td {
		padding: 10px;
	}
	tr:first-child {
		font-weight: 700;
		text-transform: uppercase;
	}
}

div#about_container, div#contact_container {
	padding-top: 6%;
}

div#admin_container {
	width: 70%;
	margin: auto;
	h2 {
		text-align: center;
	}
	form {
		margin: 2% auto;
	}
	input, textarea {
		margin: 2% 0;
	}
	button {
		padding: 4px;
		text-transform: uppercase;
		font-weight: 700;
	}
}

a:link {
	color: #c0a4b7;
	text-decoration: none;
	font-weight: 100;
}

a:hover {
	color: #e0cc00;
}

a:visited {
	color: #c0a4b7;
}
